.box{
    width: 250px;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
}

.elem{
    width: 50px;
    height: 50px;
}

.result {
    width: 250px;
    height: 250px;
}

.letters {
    position: relative;
    max-width: min-content;
    display: flex;
    align-items: stretch;
    margin: 20% auto;
    padding: 5px;
}

.letter {
    margin: 10px 10px;
    width: 100px;
    height: 100px;
    text-align: center;
    justify-content: center;
}

.txt {
    text-align: center;
    justify-self: center;
    margin: 30px;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    color: #D2EDE8;
}

.active {
    border: 5px solid #6DEDD3;
}